# =========================
# Build 결과물
# =========================
/build/
/bin/
/out/
/Debug/
/Release/
INNRO_GAME_MAKE/x64/
/x86/

*.o
*.obj
*.so
*.dll
*.exe
*.a
*.pdb
*.tlog
*.iobj
*.ipdb
*.idb

# =========================
# CMake
# =========================


# =========================
# Visual Studio
# =========================
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.ipch
*.pdb
*.tlog
*.iobj
*.ipdb
*.idb

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Mac / Linux
# =========================
.DS_Store
*.swp

# =========================
# Logs
# =========================
*.log

# =========================
# Dependency (빌드된 것만 제외)
# =========================
# GLFW, GLAD, GLM 등
# 소스는 포함, 빌드 결과는 제외
**/lib/
**/bin/

# =========================
# 기타
# =========================
*.tmp
*.cache